@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Roboto+Slab:400,100,300,700);

body {
    padding-top:60px;  
    background-color: #333;  
    color: #f3e1ff;
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
    font-size: 2em;
	vertical-align: middle;
}

/*NAVBAR STYLE background-image: linear-gradient(to bottom, #c35ded 0%, #cf63fc 100%);*/ 
.navbar {
    min-height: 60px;
}

.navbar-default {
    background: rgba(207, 99, 252, 0.5); 
    border-color: #AA51CF;
    border-radius: 0px;
    background-image: none;
    
    background-repeat: repeat-x;
}

.navbar-default :after {
    height: 0px;
    width: 0px;
}

.navbar-default .navbar-nav > li > a {
color: #f3e1ff;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
color: #ccbdd6;
background-color: transparent;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
background: rgba(207, 99, 252, 0.5);
background-image: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #f3e1ff;
background-image: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: #c35ded;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-toggle {
border-color: #b054d6;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
background-color: #b054d6;
}

.navbar-default .navbar-toggle .icon-bar {
background-color: #f3e1ff;
}

.navbar-default .navbar-collapse {
    border-color: #f3e1ff;
    background-color: transparent;
}

.navbar-default .navbar-collapse s.in {
    border-color: #f3e1ff;
    background: rgba(207, 99, 252, 0.3);
}

@media only screen and (max-width:748px){
.navbar-default .navbar-collapse .in {
    background: rgba(207, 99, 252, 0.3);
}
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #f3e1ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #ccbdd6;
}

.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #ccbdd6;
background-color: #b054d6;
}
}

.navbar-brand {
    font-size: 22px;
} 

.navbar-collapse .navbar-nav {
    font-size: 22px;
}

/*END OF NAVBAR STYLE*/

/* HEADER*/
header .navbar-brand {
    background: url('img/logo.jpg');
    background-repeat: no-repeat;
    background-position: 15px 5px;
    background-size: auto;
}

.navbar-brand > h1 {
    font-size: 24px;
    color: #7E7B7B;
    margin: 0;
    padding: 0;
    padding-left: 105px;
    text-shadow: white 1px 1px 1px;
    line-height: 0.9;
    font-weight: 300;
}

.navbar-brand .subhead {
    display: block;
    font-size: .6em;
    font-weight: 300;
    line-height: 0.9;
    margin: 0;
    padding: 0;
    horisontal-align: middle; 
}

/*END OF HEADER*/

/*SOULMADE*/
#soulmade {
    background: rgba(207, 99, 252, 0.3);
	box-shadow: white 1px 1px 1px;
	background-image: none;
}    

#soulmade .container {
	padding-bottom: 20px;
}

/*ITEMS*/

#items {
    background-color: #333;
	box-shadow: white 1px 1px 1px;
	background-image: linear-gradient(to bottom, #4c4c4c 0%, #333 100%)
}

#items .container-fluid .row {
	padding-top: 30px;
	padding-bottom: 0px;
	padding-left: 20px;
	padding-right: 20px;
	vertical-align: bottom;
}

.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 0px;
	padding-bottom: 25px;
}

.col-xs-9, .col-sm-9, .col-md-8, .col-lg-8 {
	padding: 0;
}

.description {
	min-height: 100px;
	overflow: visible;
	position: relative;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.description .quote {
	background:rgba(185, 189, 191, 0.2);
	border-radius: 0 30px 0 0;
	padding: 10px 3%;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: inline-block;
}

#items .image > img  {
	border-radius: 4px;
	display: inline-block;
	width: 100%;
}

.col-xs-3, .col-sm-3, .col-md-4, .col-lg-4 {
	padding-right: 5px;
	padding-left: 0px;
}

.description .intro {
	font-size: 1em;
	line-height: 100%;
	font-weight: 400;
}

.description .intro:after {
	content:"...";
}

.description .more {
	font-size: 0em;
	line-height: 0;
	opacity: 0;
}

.description .quote:hover .more {
	font-size: 1em;
	line-height: 1;
	opacity: 1;
}

.description .quote:hover .intro:after {
	content:"";
}

@media (max-width: 860px) and
(min-width: 768px) {
	.col-sm-6, .col-md-6, .col-lg-6 {
		padding-top: 30px;
		padding-bottom: 20px;
		padding-left:5px;
		padding-right: 5px;
	}
}


@media (max-width: 500px) {
	#items .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	
	
	.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
	.description .intro {
		font-size: 0.9em;
		line-height: 98%;
	 }
	  
	.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 10px;
	padding-bottom: 10px;
	}
	
	.description .quote:hover .more {
	font-size: 0.9em;
	line-height: 98%;
	opacity: 1;
	}
}

@media (max-width: 418px) {
	#items .container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	
	
	.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 5px;
	padding-bottom: 5px;
	}
	
	.description .intro {
		font-size: 0.9em;
		line-height: 95%;
	 }
	  
	.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 10px;
	padding-bottom: 20px;
	}
	
	.description .quote:hover .more {
	font-size: 0.9em;
	line-height: 95%;
	opacity: 1;
	}
}

@media (max-width: 389px) {
	#items .container-fluid {
		padding-right: 2px;
		padding-left: 2px;
	}
	
	#items .container-fluid .row {
		padding-right: 9px;
		padding-left: 9px;
	}
	
	.col-sm-6, .col-md-6, .col-lg-6 {
	padding-top: 35px;
	padding-bottom: 43px;
	}

}
/*END OF ITEMS*/

/*ORDER*/

#order {
	background: url('img/order2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
	background-position: center center;
	box-shadow: white 1px 1px 1px;
}

#order .container-fluid {
	padding-bottom: 15px;
	padding-top: 15px;
}

#order .container-fluid .row {
	background:rgba(26, 26, 26, 0.5);
}

#order .container-fluid .row .col-sm-4 {
	vertical-align: middle;
}

#order .container-fluid .row .col-sm-4 > h1,
#order .container-fluid .row .col-sm-4 .h1,
#order .container-fluid .row .col-sm-4> ul, 
#order .container-fluid .row .col-sm-4> p,
#order .container-fluid .row .col-sm-4 .inside .inside-full-height > p {
	color:#fff;
	margin-top: 20px;
}

#order .container-fluid .row .col-sm-4 > ul {
	list-style-position: inside;
}

/*END OF ORDER*/

/*GALLERY*/

#gallery  {
    background: rgba(207, 99, 252, 0.3);
    box-shadow: white 1px 1px 1px;
}
 
 #gallery .container {
	padding: 0;
 }
 
 #gallery .container .row{
	padding: 10px;
	margin: 0;
 }
 
 #gallery .container .row .col-xs-6,
 #gallery .container .row .col-sm-6, 
 #gallery .container .row .col-md-4,
#gallery .container .row .col-lg-4 {
	padding-left: 15px;
}
  
 .img-thumbnail {
	display: inline-block; 
	max-height: 200px;
	width: auto;
 }

 @media (max-width: 600px) {
	.img-thumbnail {
	display: inline-block; 
	max-height: 150px;
	width: auto;
	}
  }

 @media (max-width: 468px) {
	.img-thumbnail {
	display: inline-block; 
	max-height: 130px;
	width: auto;
	}
  }
  
  @media (max-width: 414px) {
	.img-thumbnail {
	display: inline-block; 
	max-height: 110px;
	width: auto;
	}
  }
  
  @media (max-width: 361px) {
	.img-thumbnail {
	display: inline-block; 
	max-height: 100px;
	width: auto;
	}
  }
  
  @media (max-width: 335px) {
	.img-thumbnail {
	display: inline-block; 
	max-height: 90px;
	width: auto;
	}
  }
/*END OF GALLERY*/

/*FOOTER*/
footer .container-fluid {
    margin:0;
    padding-top: 15px;
	
    background-image: linear-gradient(to top, #4c4c4c 0%, #333 100%);
}

footer .navbar-default {
    background-color: transparent;
    background-image: none;
    box-shadow: none;
}

footer .navbar-default .navbar-nav > .active > a,
footer .navbar-default .navbar-nav > .active > a:hover,
footer .navbar-default .navbar-nav > .active > a:focus {
color: #ccbdd6;
background-color: transparent;
background-image: none;
}

footer .navbar-default .navbar-nav > .open > a,
footer .navbar-default .navbar-nav > .open > a:hover,
footer .navbar-default .navbar-nav > .open > a:focus {
color: #ccbdd6;
background-color: transparent;
background-image: none;
}

footer .navbar {
    border: 0;
    border: 0;
}

footer .col-sm-6 > p {
    font-size: 20px;
}

footer .col-sm-6 > a {
    font-size: 20px;   
<<<<<<< HEAD
}
=======
}
>>>>>>> origin/master
