/*.custom-navbar {background-color: #F0B5FD;
				background-image: none;
				background-repeat: no-repeat;
				border-color:#C7B2CB;
				border-radius: 4px;
				background: -webkit-linear-gradient (top,rgba(240,181,249,1)0%,rgba(199,178,203,1)100%);
				background: linear-gradient (top,rgba(240,181,249,1)0%,rgba(199,178,203,1)100%);
				}*/

.navbar-default {background-color: #F0B5FD;
				background-image: none;
				background-repeat: no-repeat;
				border-color:#C7B2CB;
				border-radius: 4px;
				background: -webkit-linear-gradient (top,rgba(240,181,249,1)0%,rgba(199,178,203,1)100%);
				background: linear-gradient (top,rgba(240,181,249,1)0%,rgba(199,178,203,1)100%);
				}

.navbar-nav.custom-navbar>li>a,
.navbar-nav.custom-navbar>li>a:hover,
.navbar-nav.custom-navbar>li>a:focus {background-color:#F0B5FD;
	   								}

.navbar-nav.custom-navbar>.active>a,
.navbar-nav.custom-navbar>.active>a:hover,
.navbar-nav.custom-navbar>.active>a:focus {background-color:#EDD0F2;
											}
*/






.navbar-right {margin-right: 5px;}

.pull-right {margin-top: 10px;
			 margin-right: 5px;
			}

.search-query {border-radius: 4px;}

body {background-color: black;}

.scroll	{overflow: scroll; }

