.navbar-default {background-color: #cf63fc;
				background-image: none;
				background-repeat: no-repeat;
				border-color:#c35ded;
				border-radius: 4px;
				}

.navbar-default .navbar-nav > li > .divider-vertical {
background-color:#c35ded;
background-image: none;	
border-left: 1px;
}


.navbar-default .navbar-nav > li > a {
color: #f3e1ff;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
color: #ccbdd6;
background-color: transparent;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
background-color: #cf63fc;
background-image: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
color: #f3e1ff;
background-image: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
background-color: #c35ded;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
color: #ccbdd6;
background-color: #b054d6;
background-image: none;
}

.navbar-default .navbar-toggle {
border-color: #b054d6;
}

.navbar-default .navbar-toggle:hover, 
.navbar-default .navbar-toggle:focus {
background-color: #b054d6;
}
.navbar-default .navbar-toggle .icon-bar {
background-color: #f3e1ff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
border-color: #f3e1ff;
}

@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
color: #f3e1ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
color: #ccbdd6;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
color: #ccbdd6;
background-color: #b054d6;
}
}



.navbar-right {margin-right: 5px;}

.pull-right {margin-top: 10px;
			 margin-right: 5px;
			}

.search-query {border-radius: 4px;}

body {background-color: black;}

.scroll	{overflow: scroll; }

